html,body
{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

.row
{
	padding:10px;
}

a {
	border:0px green solid;
	text-align:center;
	padding:10px;
}

.bord_top
{
	position:absolute;
	width:100%;
	height:2px;
	background-color:#000;
	top:0px;
	left:0px;
}

.bord_left
{
	position:absolute;
	width:2px;
	height:100%;
	background-color:#000;
	top:0px;
	left:0px;
}

.bord_right
{
	position:absolute;
	width:2px;
	height:100%;
	background-color:#000;
	top:0px;
	right:0px;
}

.bord_bottom
{
	position:absolute;
	width:100%;
	height:2px;
	background-color:#000;
	bottom:0px;
	right:0px;
}